<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="Description" content="twitter bot" />
<style type="text/css">
p {
	text-indent: 2em;
}

h2{
border-left:1.4em solid #338000;
font-size:20pt;
padding-left:0.3em;
}
</style>
<title>twitter bot</title>
</head>
<body style="margin:auto;width:85%">
<h1 style="text-align:center;margin-bottom:2em;">Twitter Bot</h1>
<h2>Overview</h2>

<p>
Twitter,XMPP,GAE,GoogleTalk,m-im =&gt; Twitter Anywhere
</p>
</body>
</html>

